body {
padding: 50px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
margin-top: 50px;
}

.plot {
border: 1px solid #ccc;
position: relative;
left: 45px;
top: 10px;
width: 650px;
height: 128px;
margin-bottom: 40px;
padding-top: 10px;
}

.plot > div {
font-size: 10px;
position: absolute;
left: -42px;
}

#max {
top: 0;
}

#min {
bottom: 0;
}

#resize {
position: absolute;
bottom: 0;
right: 0;
width: 110px;
height: 130px;
background-image: url("../img/resize.png");
background-repeat: no-repeat;
}

